@model YAZLAB2.Models.Kullanici
@{
    ViewData["Title"] = "Home Page";
    Layout = "_NoLoginLayout";
}

<div class="text-center">
    <h1 class="display-4">Yazlab GYM</h1>
    <p><a href="https://www.youtube.com/watch?v=852rGXEa5wQ">BECOME THE OVERMAN</a>.</p>

    
</div>
